.title-logo {
    margin-right: 50px;
}

.top-cutaway {
    padding: 43px 0 302px 37px;
}

.top-cutaway--tagline {
    font-size: 63px;
}

.top-cutaway--email {
    margin-top: 43px;
    font-size: 38px;
}

.wrap-title-category {
    height: 400px;
}

.category--title {
    font-size: 43px;
}

.menu-wrap-for-icon-main-title {
    display: flex;
    justify-content: space-between;
    padding: 134px 19px 0 20px;
}

.menu-main-title {
    font-size: 40px;
}

.menu-wrap {
    padding: 30px 9px 12px 15px;
}

.menu-section {
    padding-top: 5px;
}

.menu-main-section-title {
    font-size: 38px;
    padding: 16px 18px;
}

.menu-section-second-title {
    font-size: 30px;
}


.list-menu-item-prise {
    font-size: 28px;
}

.menu-title-pizza-icon {
    width: 49px;
    height: 49px;
}

.menu-title-tea-icon {
    width: 68px;
    height: 46px;
}

.menu-title-wine-icon {
    width: 36px;
}

.menu-title-beer-icon {
    width: 58px;
}

footer {
    padding: 5px 36px;
    margin-top: 71px;
}

