.title-head {
    font-size: 24px;
    padding: 22px 0 23px 35px;
}

.header-list {
    top: 56px;
    right: -115px;
}

.header-list-menu-category {
    padding: 17.1px 139.5px 5px 29px;
}

.header-list-contacts {
    padding-bottom: 15px;
}

.fa-bars {
    font-size: 26px;
    padding: 25px 30px;
}

.fa-times {
    font-size: 35px;
    padding: 19px 28px;
}

.top-cutaway {
    height: 300px;
    padding: 26px 0 21px 38px;
    margin-bottom: 6px;
}

.top-cutaway--tagline {
    width: 60vw;
    margin: -1px 0 -1px;
    font-size: 36px;
}

.top-cutaway--email {
    margin-top: 19px;
    font-size: 24px;
}

.category--item--wrap {
    height: 150px;

}

.wrap-title-category {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100vw;
    background-size: cover;
}

.category--title {
    font-size: 36px;
    margin: 52px;
}

.wrap-category-pizza {
    background-image: url('../img/640/Pizza_640.png');
}

.wrap-category-salads {
    background-image: url('../img/640/Salads_640.png');

}

.wrap-category-desert {
    background-image: url('../img/640/Desserts_640.png');
}

.arrow-link {
    padding: 150px 142px 0 0;
}

.arrow-link:after {
    width: 15px;
    height: 15px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    right: 71px;
    top: 60px;
}

.menu-wrap-main-title {
    padding: 43px 0 0 18px;
}

.menu-main-title {
    font-size: 39px;
    font-weight: normal;
    margin-bottom: 12px;
}

.menu-main-subtitle {
    font-size: 18px;
}

.menu-main-section-title {
    font-size: 40px;
    letter-spacing: 0;
    font-weight: normal;
    padding: 12px 37px;
}

.menu-wrap {
    padding: 26px 35px  12px 36px;
    margin-bottom: 2px;
}

.menu-section {
    padding-top: 23px;
}

.menu-first-section {
    padding-bottom: -5px;
}

.menu-second-section {
    padding-top: 0;
}

.menu-section-title {
    padding: 4px 0;
    font-size: 30px;
    letter-spacing: 0;
    background-position: 518px 0;
    background-size: 50px;
}

.menu-title-pizza-icon {
    width: 48px;
    height: 48px;
    background-size: cover;
}

.menu-title-wine-icon{
    background-size: 23px;
    width: 37px;
}

.menu-title-tea-icon {
    width: 56px;
    height: 49px;
    background-size: 56px;
}

.menu-title-beer-icon {
    width: 52px;
    height: 40px;
    background-size: 41px;
}

.list-menu{
    margin: 37px 0;
}

.list-menu-item-title {
    margin: 0 0 -3px 0;
    font-size: 27px;
}

.list-menu-item-prise {
    font-size: 27px;
}

.list-menu-item-consist {
    font-size: 19px;
    margin: 21px 0 24px 0;
    letter-spacing: -0.2px;
}

footer {
    height: 90px;
    margin-top: 66px;
    justify-content: center;font-size: 18px;
}