header {
    padding-left: 18px;
}

.title-head {
    display: none;
}

.drop-down-menu {
    display: inline-block;
    height: 100px;
    position: relative;
    top: -38px;
}

.title-logo {
    display: inline-block;
    width: 104px;
    height: 83px;
    margin-right: 47px;
    background-image: url(../img/logo/navigation-logo.png);
}

/*.drop-down-menu::after {*/
/*    content: "";*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    top: 48px;*/
/*    right: -300px;*/
/*    width: 104px;*/
/*    height: 83px;*/
/*    background-image: url(../img/logo/navigation-logo.png);*/
/*}*/

.header-list {
    display: inline-block;
    border: 1px solid #373c3f;
    top: 37px;
    right: 0;
}

.header-list-menu-category {
    display: block;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fafafa;
    background-color: #373c3f;
    padding: 42px 12px 38px 11px;
}



.btn-slide {
    display: none;
}
/**/

.top-cutaway {
    padding: 64px 0 163px 30px;
}

.top-cutaway--tagline {
    font-size: 54px;
}

.top-cutaway--email {
    margin-top: 43px;
    font-size: 34px;
}
/**/
.category {
    display: flex;
    height: 327px;
}

.category--item--wrap {
    height: 150px;
}

.wrap-title-category {
    display: flex;
    justify-content: center;
    height: 327px;
    width: 33.4vw;
    background-size: cover;
}

.category--title {
    font-size: 38px;
    margin: 0;
    display: flex;
    align-items: center;
}

.wrap-category-pizza {
    background-image: url('../img/1200/Pizza delivery fon@1200.png');
}

.wrap-category-salads {
    background-image: url('../img/1200/Salads fon@1200X.png');
}

.wrap-category-desert {
    background-image: url('../img/1200/Desserts fon@1200.png');
}

.arrow-link {
    display: none;
}
/**/

.menu-section-wrap {
    display: flex;
}

/*.menu-section {*/
/*    padding-top: 0;*/
/*}*/


.menu-main-section-title {
    font-size: 34px;
    padding: 18px 21px;
}

.menu-main-title {
    font-size: 34px;
    letter-spacing: 0;
    margin-top: 18px;
}

.menu-main-subtitle {
    font-size: 20px;
}

.menu-wrap {
    padding: 32px 7px 12px 18px;
}

.menu-wrap-980 {

}
.menu-wrap-main-title {
    padding: 0;
}

.menu-wrap-for-icon-main-title {
    display: flex;
    justify-content: space-between;
    padding: 53px 36px 0 27px;
}

.menu-title-pizza-icon {
    width: 43px;
    height: 43px
}

.menu-title-tea-icon {
    width: 63px;
    height: 45px;
}



.list-menu {
    margin: 34px 0 44px 0;
}

.menu-logo-main-title {
    width: 109px;
    height: 89px;
    background-image: url(../img/logo/Menu_logo.png);
    background-size: cover;
}

.menu-section {
    padding-top: 9px;
}

.menu-section-title {
    font-size: 26px;
}

.menu-section-second-title {
    font-size: 24px;
}

.list-menu-item-title {
    font-size: 24px;
    letter-spacing: 0;
}

.list-menu-item-prise {
    font-size: 24px;
}

.list-menu-item-consist {
    font-size: 16px;
    margin: 22px 0 30px 4px;
    letter-spacing: 0;
}

.menu-title-wine-icon {
    background-size: 24px;
    width: 26px;
    height: 44px;
}

.menu-title-beer-icon {
    width: 48px;
    height: 44px;
    background-size: 40px;
}

footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 30px;
    font-size: 20px;
    margin-top: 26px;
}

.logo-footer {
    display: inline-block;
    width: 104px;
    height: 83px;
    background-image: url(../img/logo/navigation-logo.png);
}

.footer-text-wrap {
     display: block;
}

