@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i,900,900i&display=swap');

body {
    margin: 0 auto;
    font-family: 'Lato', 'Courier New', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: #373c3f;
}

.title-head {
    padding: 11px 0 12px 19px;
    font-size: 12px;
    color: white;
    font-family: 'Montserrat','sans-serif', 'Courier New' ;
}

.drop-down-menu {
    display: none;
    height: 37px;
    margin: 0;
    background-color: #373c3f;
    padding-inline-start: 0;
}

.header-list {
    position: relative;
    top: 37px;
    right: -27px;
    list-style: none;
    border: 1px solid white;
    border-top: 1px solid #f2f2f2;
    cursor: pointer;
}

.header-list-menu-category:hover {
    background-color: #f5f5f5;
}

.header-list-menu-category {
    display: block;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: -0.6px;
    color: #444444;
    background-color: #fafafa;
    padding: 8.1px 94.5px 8px 12px;

}
.fa-bars {
    position: absolute;
    right: 0;
    font-size: 15px;
    color: white;
    padding: 11px 14px;
    background-color: #202529;
}

.fa-times {
    position: absolute;
    right: 0;
    color: white;
    padding: 11px 14px;
    background-color: #202529;
    font-size: 21px;
}

.top-cutaway {
    background-image: url('../img/1200/header-fon@1200.png');
    background-size: cover;
    height: 63px;
    padding: 16px 0 95px 21px;
    margin-bottom: 4px;
}

.top-cutaway--tagline {
    display: block;
    width: 54vw;
    margin: 0 0 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.top-cutaway--email {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #8bb1b8;
}

.category--item--wrap {
    display: flex;
    width: 100vw;
    height: 75px;
    margin-bottom: 1px;
    position: relative;
    text-decoration: none;
    background-size: cover;
}

.wrap-title-category {
    display: flex;
    justify-content: center;
    height: 75px;
    width: 100vw;
    background-size: cover;
}

.category--title {
    color: white;
    font-size: 20px;
    margin: 24px 0 24px 2px;
}
.category__salads--title {
    margin: 27px 0 24px 22px;
}

.category__desert--title {
    margin: 26px 7px 27px 0;
}
.wrap-category-pizza {
    background-image: url('../img/320/Pizza_320.png');
}

.wrap-category-salads {
    background-image: url('../img/320/Salads_320.png');
}

.wrap-category-desert {
    background-image: url('../img/320/Desserts_320.png');
    margin-bottom: 18px;
}

.arrow-link {
    padding: 75px 69px 0 0;
    background-color: #acd8ad;
}

.arrow-link:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    position: absolute;
    right: 34px;
    top: 30px;
}

.menu-wrap-main-title {
    padding: 25px 8px 8px 8px;
}

.menu-main-title {
    text-transform: uppercase;
    font-size: 19px;
    color: #3f4043;
    margin: 0 0 0 0;
    letter-spacing: 0.57px;
    line-height: 77%;
}

.menu-main-subtitle {
    font-size: 10px;
    color: #d2d3d5;
    margin-left: 2px;
}

.menu-main-section-title {
    margin: 0;
    font-size: 19px;
    text-transform: uppercase;
    padding: 8px 19px;
    letter-spacing: 0.6px;
}

.menu-mauris-section {
    color: #acd8ad;
    background-color: #3f4043;
}

.menu-wrap {
    padding: 12px 16px 12px 17px;
    margin-bottom: 2px;
}

.menu-title-wrap{
    display: flex;
    justify-content: space-between;
}

.menu-section-title {
    margin: 0;
    padding: 3px 0 3px 0;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
    background-position: 261px -1px;
    background-repeat: no-repeat;
    background-size: 25px;
    letter-spacing: -1.1px;
}

.menu-title-icon {
    background-repeat: no-repeat;
}

.menu-title-pizza-icon {
    background-image: url('../img/category_icon/pizza_icon.png');
    width: 25px;
    height: 25px;
    background-size: cover;
}

.menu-title-wine-icon{
    background-image: url('../img/category_icon/wine_icon.png');
    background-size: 14px;
    width: 20px;
}

.menu-title-tea-icon {
    background-image: url('../img/category_icon/tea_icon.png');
    width: 30px;
    height: 24px;
    background-size: 31px;
}

.menu-title-beer-icon {
    background-image: url('../img/category_icon/beer_icon.png');
    width: 27px;
    height: 24px;
    background-size: 22px;
}

.list-menu {
    padding: 0;
    margin: 14px 0;
}

.list-menu-item {
    list-style: none;
    font-size: 14px;
}

.list-menu-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12px;
}

.list-menu-item-title {
    display: inline-block;
    margin: 0 0 -3px 0;
    letter-spacing: -0.34px;
}

.list-menu-item-prise {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -3px;
}
.list-menu-item-consist {
    font-size: 10px;
    margin: 10px 0 6px 0;
    letter-spacing: -0.27px;
}

.menu-vestibulum-section {
    color: white;
    background-color: #acd8ad;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 46px;
    padding-top: 9px;
    margin-top: 21px;

    font-family: 'Montserrat', 'sans-serif', 'Courier New';
    font-size: 12px;
    color: white;
    line-height: 1.4;
    letter-spacing: -0.68px;
    background-color: #acd8ad;
}

.footer-text-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}